# Database connection URL (PostgreSQL)
DATABASE_URL=postgresql://username:password@localhost:5432/drawer_db?schema=public

# Port for the WebSocket server
PORT=8200

# Redis connection URL
REDIS_URL=redis://localhost:6379
